<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= person.document_type %>
  </p>

  <p>
    <strong>Document number:</strong>
    <%= person.document_number %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= person.birth_date %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= person.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= person.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= person.zip_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= person.country %>
  </p>

  <p>
    <strong>User:</strong>
    <%= person.user_id %>
  </p>

</div>
